In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

In [3]:
dataset = pd.read_csv("/content/drive/MyDrive/Copy of car data.csv")

In [4]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
l=LabelEncoder()

In [6]:
label=l.fit_transform(dataset.Fuel_Type)

In [7]:
label1=l.fit_transform(dataset.Car_Name)

In [8]:
dataset["outcome"]=label

In [9]:
dataset["car_type"]=label1

In [10]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,outcome,car_type
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2,90
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,93
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2,68
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2,96
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,1,92

In [11]:
x= dataset.drop(['Selling_Price','Transmission','Seller_Type','Car_Name','Fuel_Type'], axis='columns')
y = dataset.Selling_Price

In [12]:
x

     Year  Present_Price  Kms_Driven  Owner  outcome  car_type
0    2014           5.59       27000      0        2        90
1    2013           9.54       43000      0        1        93
2    2017           9.85        6900      0        2        68
3    2011           4.15        5200      0        2        96
4    2014           6.87       42450      0        1        92
..    ...            ...         ...    ...      ...       ...
296  2016          11.60       33988      0        1        69
297  2015           5.90       60000      0        2        66
298  2009          11.00       87934      0        2        69
299  2017          12.50        9000      0        1        69
300  2016           5.90        5464      0        2        66

[301 rows x 6 columns]

In [13]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [17]:
from sklearn.ensemble import AdaBoostRegressor

In [19]:
base_reg = DecisionTreeRegressor(max_depth=3)
ada_reg = AdaBoostRegressor(base_estimator = base_reg,n_estimators = 50,learning_rate = 0.2,random_state = 1)

In [20]:
ada_reg.fit(x_train,y_train)
y_pred = ada_reg.predict(x_test)
y_pred

array([ 0.72716981,  4.17142857,  0.7362069 ,  0.7362069 ,  3.93      ,
        4.47261905,  4.93101266,  4.61942857,  0.72884615,  4.47261905,
        0.72884615,  5.00506329,  6.28193548,  4.21      ,  0.7362069 ,
        6.85642857, 15.5       ,  0.72716981,  6.66029412,  0.74454545,
        0.72884615,  8.57878049,  4.93101266,  0.72884615,  6.66029412,
        8.7147619 ,  0.72884615,  4.93101266,  0.72884615,  0.72884615,
        6.14893617,  9.64708333,  4.93101266,  6.52589286,  7.46527778,
        4.47261905,  4.17142857,  9.64708333,  2.925     ,  6.52589286,
        6.66029412,  4.95783784,  4.93101266,  4.93101266,  3.11785714,
        0.72884615,  0.72884615,  4.8476    ,  0.72884615,  0.84880952,
       21.25      ,  0.758125  ,  4.77105263,  8.57878049,  5.00506329,
        0.84880952,  6.72169811,  0.7362069 ,  4.02282609,  4.47261905,
        0.72716981,  2.28636364,  0.72716981,  4.93101266, 20.8125    ,
        0.72716981,  0.72716981,  4.93101266,  8.98588235,  0.72884615,
        5.1664557 ,  0.72884615,  4.77525773,  4.77525773,  6.52589286,
        5.08388889, 10.29813187,  0.72884615,  9.35488889,  8.72161765,
        3.61132075,  0.72884615,  0.72884615, 10.48107143,  4.47261905,
        0.72884615,  5.00506329,  6.85642857,  0.72884615,  0.72884615,
        2.28636364])

In [21]:
score = ada_reg.score(x_test,y_test)
score

0.7758338607888647